@import "tailwindcss";
body {
  font-family: 'Playfair Display', serif;
}

.handwriting {
  font-family: 'Great Vibes', cursive;
}

.chinese-romantic {
  font-family: 'Zen Maru Gothic', sans-serif;
}
.chinese-romantic {
  font-family: "LXGW WenKai";
}
@font-face {
  font-family: "ChenYuluoyan-2.0";
  src: url("/fonts/ChenYuluoyan-2.0-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.handwriting-cn {
  font-family: "ChenYuluoyan-2.0", serif;
}